@use "@styles/_config" as *;

.radio {
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  height: 18px;
  width: 18px;
  pointer-events: none;
}

.radio + label {
  display: inline-block;
  line-height: 18px;
  user-select: none;
  cursor: pointer;
  padding-left: calc(18px + var(--space-2xs));
}

.radio + label::before {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -0.1em;
  margin-left: calc(-1 * (18px + 18px));
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  background-color: var(--color-bg);
  border-width: var(--checkbox-radio-border-width);
  border-color: alpha(var(--color-contrast-low), 0.65);
  border-style: solid;
  box-shadow: var(--shadow-xs);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 18px;
  transition:
    transform 0.2s,
    border 0.2s;
}

.radio:not(:checked):not(:focus) + label:hover::before {
  border-color: alpha(var(--color-contrast-low), 1);
}

.radio + label::before {
  border-radius: 50%;
}
